{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block body %}
<h1>Inicio</h1>
<h2>Benvingdos a la web de libros.</h2>
<p>Pàgina de inicio</p>
<img src="{{ asset('imgs/libros.jpg') }}" />
{% endblock %}
